<h1 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">1. Importation des bibliothèque</h1>

In [70]:
import copy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as style
import matplotlib.gridspec as gridspec
import seaborn as sns
from mpl_toolkits import mplot3d
from scipy import stats
%matplotlib inline
import time
import os

# preprocessing
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, StratifiedKFold
import pandas_profiling as pp

# models
from sklearn.linear_model import LinearRegression,LogisticRegression, SGDRegressor, RidgeCV
from sklearn.svm import SVR, LinearSVR
from sklearn.ensemble import RandomForestRegressor
import sklearn.model_selection
from sklearn.model_selection import cross_val_predict as cvp
from sklearn import metrics
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, StandardScaler
from scipy.stats import pearsonr

import xgboost as xgb
import lightgbm as lgb

# model tuning
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe, space_eval

import warnings
warnings.filterwarnings("ignore")

# Imprime le dossier actuel de travail

In [71]:
os.getcwd()

'/Users/mesabo/Desktop/MEMOIRE/DEV'

# Imprime le dossier actuel de travail

In [72]:
os.listdir()

['.DS_Store',
 'images',
 'Untitled.ipynb',
 'dataset',
 'data.csv.xls',
 'test.csv',
 'data_description.txt',
 'MLHOUSE.ipynb',
 'HPP1.ipynb',
 'train.csv',
 '.ipynb_checkpoints',
 '.git',
 'ayou.ipynb',
 'sample_submission.csv']

<h1 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">2. Chargement du jeux données</h1>

<h3 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">2.1 Définition des features</h3>

In [73]:
features = ['id','date','price', 'bedrooms', 'bathrooms', 'sqft_living','sqft_lot', 'floors', 'waterfront', 'view', 'condition','grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat','long','sqft_living15','sqft_lot15']

<h3 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">2.2 Importation des données</h3>

In [74]:
house = pd.read_csv("dataset/kc_house_data.csv")

In [75]:
house = house[features]

In [76]:
house

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [77]:
house.describe().T

,count,mean,std,min,25%,50%,75%,max
id,21613.0,4.580302e+09,2.876566e+09,1.000102e+06,2.123049e+09,3.904930e+09,7.308900e+09,9.900000e+09
price,21613.0,5.400881e+05,3.671272e+05,7.500000e+04,3.219500e+05,4.500000e+05,6.450000e+05,7.700000e+06
bedrooms,21613.0,3.370842e+00,9.300618e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,3.300000e+01
bathrooms,21613.0,2.114757e+00,7.701632e-01,0.000000e+00,1.750000e+00,2.250000e+00,2.500000e+00,8.000000e+00
sqft_living,21613.0,2.079900e+03,9.184409e+02,2.900000e+02,1.427000e+03,1.910000e+03,2.550000e+03,1.354000e+04
sqft_lot,21613.0,1.510697e+04,4.142051e+04,5.200000e+02,5.040000e+03,7.618000e+03,1.068800e+04,1.651359e+06
floors,21613.0,1.494309e+00,5.399889e-01,1.000000e+00,1.000000e+00,1.500000e+00,2.000000e+00,3.500000e+00
waterfront,21613.0,7.541757e-03,8.651720e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
view,21613.0,2.343034e-01,7.663176e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
condition,21613.0,3.409430e+00,6.507430e-01,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00
grade,21613.0,7.656873e+00,1.175459e+00,1.000000e+00,7.000000e+00,7.000000e+00,8.000000e+00,1.300000e+01
sqft_above,21613.0,1.788391e+03,8.280910e+02,2.900000e+02,1.190000e+03,1.560000e+03,2.210000e+03,9.410000e+03
sqft_basement,21613.0,2.915090e+02,4.425750e+02,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e+02,4.820000e+03
yr_built,21613.0,1.971005e+03,2.937341e+01,1.900000e+03,1.951000e+03,1.975000e+03,1.997000e+03,2.015000e+03
yr_renovated,21613.0,8.440226e+01,4.016792e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015000e+03
zipcode,21613.0,9.807794e+04,5.350503e+01,9.800100e+04,9.803300e+04,9.806500e+04,9.811800e+04,9.819900e+04
lat,21613.0,4.756005e+01,1.385637e-01,4.715590e+01,4.747100e+01,4.757180e+01,4.767800e+01,4.777760e+01
long,21613.0,-1.222139e+02,1.408283e-01,-1.225190e+02,-1.223280e+02,-1.222300e+02,-1.221250e+02,-1.213150e+02
sqft_living15,21613.0,1.986552e+03,6.853913e+02,3.990000e+02,1.490000e+03,1.840000e+03,2.360000e+03,6.210000e+03
sqft_lot15,21613.0,1.276846e+04,2.730418e+04,6.510000e+02,5.100000e+03,7.620000e+03,1.008300e+04,8.712000e+05

<h1 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">3. Prétraitement Des Variables</h1>

<h3 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">3.1 Nettoyage des Données</h3>

In [78]:
khouse = house.copy()
khouse.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Lister les colonnes du dataset

In [79]:
khouse.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [80]:
khouse.groupby('date')['id'].nunique()

date
20140502T000000    67
20140503T000000     4
20140504T000000     5
20140505T000000    84
20140506T000000    83
                   ..
20150513T000000    31
20150514T000000    11
20150515T000000     1
20150524T000000     1
20150527T000000     1
Name: id, Length: 372, dtype: int64

In [81]:
khouse.groupby('price')['id'].nunique()

price
75000.0      1
78000.0      1
80000.0      1
81000.0      1
82000.0      1
            ..
5350000.0    1
5570000.0    1
6885000.0    1
7062500.0    1
7700000.0    1
Name: id, Length: 4028, dtype: int64

In [82]:
khouse.groupby('bedrooms')['id'].nunique()

bedrooms
0       13
1      194
2     2736
3     9731
4     6849
5     1586
6      265
7       38
8       13
9        6
10       3
11       1
33       1
Name: id, dtype: int64

In [83]:
khouse.groupby('sqft_living')['id'].nunique()

sqft_living
290      1
370      1
380      1
384      1
390      2
        ..
9640     1
9890     1
10040    1
12050    1
13540    1
Name: id, Length: 1038, dtype: int64

In [84]:
khouse.groupby('floors')['id'].nunique()

floors
1.0    10559
1.5     1888
2.0     8209
2.5      161
3.0      611
3.5        8
Name: id, dtype: int64

In [85]:
khouse.groupby('waterfront')['id'].nunique()

waterfront
0    21273
1      163
Name: id, dtype: int64

In [86]:
khouse.groupby('view')['id'].nunique()

view
0    19320
1      331
2      962
3      507
4      316
Name: id, dtype: int64

In [87]:
khouse.groupby('condition')['id'].nunique()

condition
1       29
2      164
3    13911
4     5645
5     1687
Name: id, dtype: int64

In [88]:
khouse.groupby('grade')['id'].nunique()

grade
1        1
3        3
4       29
5      234
6     1995
7     8896
8     6044
9     2606
10    1130
11     396
12      89
13      13
Name: id, dtype: int64

In [89]:
khouse.groupby('sqft_above')['id'].nunique()

sqft_above
290     1
370     1
380     1
384     1
390     2
       ..
7880    1
8020    1
8570    1
8860    1
9410    1
Name: id, Length: 946, dtype: int64

In [90]:
khouse.groupby('sqft_basement')['id'].nunique()

sqft_basement
0       13015
10          1
20          1
40          4
50         11
        ...
3260        1
3480        1
3500        1
4130        1
4820        1
Name: id, Length: 306, dtype: int64

In [91]:
khouse.groupby('yr_built')['id'].nunique()

yr_built
1900     86
1901     29
1902     27
1903     45
1904     44
       ...
2011    130
2012    169
2013    199
2014    559
2015     38
Name: id, Length: 116, dtype: int64

In [92]:
khouse.groupby('yr_renovated')['id'].nunique()

yr_renovated
0       20526
1934        1
1940        2
1944        1
1945        3
        ...
2011       13
2012       11
2013       37
2014       91
2015       16
Name: id, Length: 70, dtype: int64

In [93]:
khouse.groupby('zipcode')['id'].nunique()

zipcode
98001    359
98002    197
98003    276
98004    315
98005    168
        ...
98177    254
98178    258
98188    135
98198    275
98199    316
Name: id, Length: 70, dtype: int64

In [94]:
khouse.groupby('lat')['id'].nunique()

lat
47.1559    1
47.1593    1
47.1622    1
47.1647    1
47.1764    1
          ..
47.7771    2
47.7772    3
47.7774    1
47.7775    3
47.7776    3
Name: id, Length: 5034, dtype: int64

In [95]:
khouse.groupby('long')['id'].nunique()

long
-122.519    1
-122.515    1
-122.514    1
-122.512    1
-122.511    2
           ..
-121.325    1
-121.321    1
-121.319    1
-121.316    1
-121.315    2
Name: id, Length: 752, dtype: int64

In [96]:
khouse.groupby('sqft_living15')['id'].nunique()

sqft_living15
399     1
460     2
620     2
670     1
690     2
       ..
5600    1
5610    1
5790    6
6110    1
6210    1
Name: id, Length: 777, dtype: int64

In [97]:
khouse.groupby('sqft_lot15')['id'].nunique()

sqft_lot15
651       1
659       1
660       1
748       2
750       4
         ..
434728    1
438213    1
560617    1
858132    1
871200    1
Name: id, Length: 8689, dtype: int64

<h3 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">3.2 Transformation des Données</h3>

In [98]:
khouse.groupby('grade')['id'].nunique()

grade
1        1
3        3
4       29
5      234
6     1995
7     8896
8     6044
9     2606
10    1130
11     396
12      89
13      13
Name: id, dtype: int64

#### NB:
<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Le grade 2 ne comporte aucune observation. On va le retirer de la liste.</p>
<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Nous allons combiner les grade 1, 3, 4 et 5.</p>
<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Nous allons combiner les grades 11, 12 et 13.</p>

In [99]:
khouse.grade.replace([1, 3, 4], 5, inplace=True)
khouse.grade.replace([12, 13], 11, inplace=True)
khouse['grade'] = khouse['grade'] - 4
khouse.groupby('grade')['id'].nunique()

grade
1     267
2    1995
3    8896
4    6044
5    2606
6    1130
7     498
Name: id, dtype: int64

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Prendre le max entre yr_renovated et yr_built. Si la maison a été renovée, alors on considérera son année de renovation. Dans le cas contraire, on considèrera son année de construction</p>

In [100]:
khouse['yr_renovated'] = np.maximum(khouse['yr_built'], khouse['yr_renovated'])

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Conserver seulement l'année dans la date de vente Date</p>

In [101]:
khouse['date'] = khouse.date.apply(lambda x: int(x[:4]))

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Calculer le nombre d'années entre la dernière rénovation et la vente de la maison</p>

In [102]:
khouse['date'] = khouse['date'] - khouse['yr_renovated'] + 1

In [103]:
khouse.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,60,221900.0,3,1.00,1180,5650,1.0,0,0,...,3,1180,0,1955,1955,98178,47.5112,-122.257,1340,5650
1,6414100192,24,538000.0,3,2.25,2570,7242,2.0,0,0,...,3,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,83,180000.0,2,1.00,770,10000,1.0,0,0,...,2,770,0,1933,1933,98028,47.7379,-122.233,2720,8062
3,2487200875,50,604000.0,4,3.00,1960,5000,1.0,0,0,...,3,1050,910,1965,1965,98136,47.5208,-122.393,1360,5000
4,1954400510,29,510000.0,3,2.00,1680,8080,1.0,0,0,...,4,1680,0,1987,1987,98074,47.6168,-122.045,1800,7503

In [104]:
khouse.groupby('date')['id'].nunique()

date
0       18
1      516
2      330
3      190
4      178
      ...
112     42
113     31
114     27
115     54
116     21
Name: id, Length: 117, dtype: int64

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Convertir le zipcode en chaine de caractères string</p>

In [105]:
khouse['zipcode'] = khouse['zipcode'].astype(str)

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Conserver seulement les 4 premiers caractères du zipcode</p>

In [106]:
khouse['zipcode'] = khouse['zipcode'].apply(lambda x: x[:4])

In [107]:
khouse.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,60,221900.0,3,1.00,1180,5650,1.0,0,0,...,3,1180,0,1955,1955,9817,47.5112,-122.257,1340,5650
1,6414100192,24,538000.0,3,2.25,2570,7242,2.0,0,0,...,3,2170,400,1951,1991,9812,47.7210,-122.319,1690,7639
2,5631500400,83,180000.0,2,1.00,770,10000,1.0,0,0,...,2,770,0,1933,1933,9802,47.7379,-122.233,2720,8062
3,2487200875,50,604000.0,4,3.00,1960,5000,1.0,0,0,...,3,1050,910,1965,1965,9813,47.5208,-122.393,1360,5000
4,1954400510,29,510000.0,3,2.00,1680,8080,1.0,0,0,...,4,1680,0,1987,1987,9807,47.6168,-122.045,1800,7503

In [108]:
khouse.groupby('zipcode')['id'].nunique()

zipcode
9800    2227
9801     606
9802    1819
9803    2258
9804    1048
9805    2553
9806     307
9807    1378
9809     351
9810    1822
9811    2404
9812    1044
9813     748
9814     677
9815     442
9816     514
9817     512
9818     135
9819     591
Name: id, dtype: int64

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Transformer les variables catégorielles (waterfront et zipcode) en dummies</p>

In [109]:
cols = ['waterfront','zipcode']
khouse_dum = pd.get_dummies(khouse, columns=cols)
khouse_dum.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,...,zipcode_9810,zipcode_9811,zipcode_9812,zipcode_9813,zipcode_9814,zipcode_9815,zipcode_9816,zipcode_9817,zipcode_9818,zipcode_9819
0,7129300520,60,221900.0,3,1.00,1180,5650,1.0,0,3,...,0,0,0,0,0,0,0,1,0,0
1,6414100192,24,538000.0,3,2.25,2570,7242,2.0,0,3,...,0,0,1,0,0,0,0,0,0,0
2,5631500400,83,180000.0,2,1.00,770,10000,1.0,0,3,...,0,0,0,0,0,0,0,0,0,0

<h3 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">3.3 Sélection des Attributs</h3>

In [110]:
khouse.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,60,221900.0,3,1.00,1180,5650,1.0,0,0,...,3,1180,0,1955,1955,9817,47.5112,-122.257,1340,5650
1,6414100192,24,538000.0,3,2.25,2570,7242,2.0,0,0,...,3,2170,400,1951,1991,9812,47.7210,-122.319,1690,7639
2,5631500400,83,180000.0,2,1.00,770,10000,1.0,0,0,...,2,770,0,1933,1933,9802,47.7379,-122.233,2720,8062
3,2487200875,50,604000.0,4,3.00,1960,5000,1.0,0,0,...,3,1050,910,1965,1965,9813,47.5208,-122.393,1360,5000
4,1954400510,29,510000.0,3,2.00,1680,8080,1.0,0,0,...,4,1680,0,1987,1987,9807,47.6168,-122.045,1800,7503

In [111]:
kfeatures = ['date','price', 'bedrooms', 'bathrooms', 'sqft_living','sqft_lot', 'floors', 'waterfront', 'view', 'condition','grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated','sqft_living15','sqft_lot15']
# kft = khouse.drop(['id'])

<h3 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">3.4 Séparation du jeu de données en des ensembles d’entrai- nement et de test</h3>

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Jeu de données d'entraînement X</p>

In [112]:
Xhouse = khouse[kfeatures]

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Jeu de données test y</p>

In [113]:
yhouse = khouse['price']

<h3 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">3.5 Train-Test Split</h3>

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Diviser en Train et Test</p>

In [114]:
Xhouse_train, Xhouse_test, yhouse_train, yhouse_test = train_test_split(
    Xhouse, yhouse, test_size=0.2, random_state=42, shuffle=False)

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Nous avons garder 80% pour l'entrainement et 20% pour le test</p>

In [115]:
Xhouse_train.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [116]:
Xhouse_test.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [117]:
Xhouse_train.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,60,221900.0,3,1.00,1180,5650,1.0,0,0,3,3,1180,0,1955,1955,1340,5650
1,24,538000.0,3,2.25,2570,7242,2.0,0,0,3,3,2170,400,1951,1991,1690,7639
2,83,180000.0,2,1.00,770,10000,1.0,0,0,3,2,770,0,1933,1933,2720,8062
3,50,604000.0,4,3.00,1960,5000,1.0,0,0,5,3,1050,910,1965,1965,1360,5000
4,29,510000.0,3,2.00,1680,8080,1.0,0,0,3,4,1680,0,1987,1987,1800,7503

In [118]:
Xhouse_test.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
17290,48,380000.0,4,2.50,2270,11500,1.0,0,0,3,4,1540,730,1967,1967,2020,10918
17291,49,624900.0,4,2.50,2270,11500,1.0,0,0,3,4,1540,730,1967,1967,2020,10918
17292,10,379770.0,3,2.50,1470,1779,2.0,0,0,3,4,1160,310,2005,2005,1470,1576
17293,39,340000.0,3,1.75,1280,16200,1.0,0,0,3,4,1030,250,1976,1976,1160,10565
17294,11,515500.0,4,2.75,2830,8126,2.0,0,0,3,4,2830,0,2005,2005,2830,7916

In [119]:
type(yhouse_train)

pandas.core.series.Series

In [120]:
yhouse_train.head(3)

0    221900.0
1    538000.0
2    180000.0
Name: price, dtype: float64

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Définir plusieurs fonctions pour plus de commodité</p>

In [121]:
def rmse_cv(model):
    rmse = np.sqrt(-cross_val_score(model, X, y, scoring="neg_mean_squared_error", cv=5)).mean()
    return rmse
    

def evaluation(y, predictions):
    mae = mean_absolute_error(y, predictions)
    mse = mean_squared_error(y, predictions)
    rmse = np.sqrt(mean_squared_error(y, predictions))
    r_squared = r2_score(y, predictions)
    return mae, mse, rmse, r_squared

<p style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">Mes modèles</p>

In [122]:
models = pd.DataFrame(columns=["Model","MAE","MSE","RMSE","R2 Score","RMSE (Cross-Validation)"])

<h4 style="font-family: 'Times New Roman'; letter-spacing: 0.05em;">Régression Linéaire</h4>

In [123]:
lin_reg_model = LinearRegression()
lin_reg_model.fit(Xhouse_train, yhouse_train)
predictions = lin_reg_model.predict(Xhouse_test)

mae, mse, rmse, r_squared = evaluation(yhouse_test, predictions)
print("MAE:", mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R2 Score:", r_squared)
print("-"*30)
rmse_cross_val = rmse_cv(lin_reg_model)
print("RMSE Cross-Validation:", rmse_cross_val)

new_row = {"Model": "LinearRegression","MAE": mae, "MSE": mse, "RMSE": rmse, "R2 Score": r_squared, "RMSE (Cross-Validation)": rmse_cross_val}
models = models.append(new_row, ignore_index=True)

MAE: 7.920577499964655e-11
MSE: 1.7603805604808925e-20
RMSE: 1.326793337517525e-10
R2 Score: 1.0
------------------------------

NameError: name 'X' is not defined

<h4 style="font-family: 'Times New Roman'; letter-spacing: 0.05em;">Ridge Regression</h4>

<h4 style="font-family: 'Times New Roman'; letter-spacing: 0.05em;">Régression Lasso</h4>

<h4 style="font-family: 'Times New Roman'; letter-spacing: 0.05em;">Elastic Net</h4>

<h4 style="font-family: 'Times New Roman'; letter-spacing: 0.05em;">Support Vector Machine</h4>

<h4 style="font-family: 'Times New Roman'; letter-spacing: 0.05em;">Random Forest Regressor</h4>

<h4 style="font-family: 'Times New Roman'; letter-spacing: 0.05em;">XGBoost Regressor</h4>

<h1 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">4. Résultat d'Entrainement des modèles</h1>

<h1 style="font-family: 'Times New Roman'; letter-spacing: 0.08em;">5. Comparaison Des Modéles</h1>